<p id="notice"><%= notice %></p>

<%= image_tag @app.image.url(:thumb) %>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @app.rating %>
</p>

<p>
  <strong>Price:</strong>
  <%= @app.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @app.image_url %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
